@font-face {
    font-family: aestetico-formal;
    src: url(./aestetico-formal-regular/aestetico-formal-regular.otf);
}

:root {
    --color-blue-instagram: #0095f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: aestetico-formal;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/*

    display:flex → transforma em flex container (todos os itens
    dentro do container ficarão em linha, ocupando o maior espaço da linha)

    align-items: center → centraliza na vertical
    justifiy-content → centraliza na horizontal

*/

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

/*

    Flex direction (default): row 
    |   A   | |   B   | |   C   |
    Flex direction: column
    |             A             |
    |             B             |
    |             C             |

*/

.instagram-continue {
    display: flex;
    align-items: center;
    /* horizontal */
    justify-content: space-around;
    /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 2.5rem 0;
    border: 1px solid lightgray;
}

/*
    group:nth-child(1): pegar os filhos do elemento, nesse caso (1), será unicamente o 1º filho
*/

.group {
    min-height: 19rem;
}

.instagram-logo-name {
    height: 3.5rem;
    margin-bottom: 2rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    /* para imagem não exceder o tamanho da div para fora */
}

.profile-photo img {
    height: 8rem;
}

.instagram-login {
    background-color: var(--color-blue-instagram);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    padding: 6px 25px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: var(--color-blue-instagram);
}

.link-blue:hover {
    cursor: pointer;
    text-decoration: underline;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    font-weight: 600;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3.1rem;
    width: 10.5rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {

    body {
        background-color: #ffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }

    .app-download {
        height: 2.8rem;
        width: 9.4rem;
    }

}